.textcontainer{
    text-align: center;
}
.mx-auto{
    margin:auto;
    background-color:black;
}
.max-wid{
    max-width: 20dvw;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid white;
    border-radius: 9px;
    cursor: pointer;
    border: 1px solid yellow;
}

.flex{
display:flex;
} 
.flexauto{
flex-direction: column;
} 
.items-center
{
    align-items: center;
    
}
.row{
        margin: 8px 0;
        
        
}
.row input{
    width: 291px;
    font-size: 20px;
      margin: 0;
      padding: 10px 0px;
      border: 2px solid black;
      border-radius: 5px;
      background-color: grey;
      color: white;
      
  }
  
.calculator{
    border: 1px solid yellow ;
}